{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Things to do{% endtrans %}</h1>

    <ul class="todo-list">
    {% for todoItem in todoItems %}
        <li class="todo-item row ">
            <div class="todo-item-completed col-xs-1">
                {% if todoItem.isCompleted() %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% endif %}
            </div>
            <div class="todo-item-reminder-text col-xs-8">
                {{ todoItem.reminderText }}
            </div>
            <div class="todo-item-actions col-xs-3">
                <ul>
                    <li>
                        <a href="{{ path('todoitem_edit', { 'id': todoItem.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                    </li>
                    <li>
                        {{ form_start(delete_forms[todoItem.id]) }}
                            <button class="btn btn-link btn-xs" type="submit">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        {{ form_end(delete_forms[todoItem.id]) }}
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>

    <div class="button-cart">
        <ul class="button-cart-back">
        </ul>
        <ul class="button-cart-forward">
            <li>
                <a class="btn btn-primary" href="{{ path('todoitem_new') }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {% trans %}Add a new todo item{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
